In [1]:
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report, confusion_matrix
from keras.utils import plot_model
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from keras import optimizers
from keras.layers import Dense, Activation
from keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pandas as pd

Using TensorFlow backend.

In [2]:
data = pd.read_csv('processed.csv')
data.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance_miles,year,weekday,hour,fare_per_mile
0,0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1,0.640487,2009,0,17,7.025903
1,1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1,5.250670,2010,1,16,3.218637
2,2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2,0.863411,2011,3,0,6.601723
3,3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1,1.739386,2012,5,4,4.426850
4,4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1,1.242218,2010,1,7,4.266560

In [3]:
X = data.drop(['key','fare_amount','pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','fare_per_mile'], axis = 1)

In [4]:
X.head()

   Unnamed: 0  passenger_count  distance_miles  year  weekday  hour
0           0                1        0.640487  2009        0    17
1           1                1        5.250670  2010        1    16
2           2                2        0.863411  2011        3     0
3           3                1        1.739386  2012        5     4
4           4                1        1.242218  2010        1     7

In [5]:
y=data['fare_amount']

In [6]:
y.head()

0     4.5
1    16.9
2     5.7
3     7.7
4     5.3
Name: fare_amount, dtype: float64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=0, shuffle=False)

In [8]:
from sklearn.neural_network import MLPRegressor

In [9]:
mlp = MLPRegressor(hidden_layer_sizes=(25,25,25,25), batch_size= 100, random_state=1, solver='adam', 
                   activation='tanh', learning_rate='constant', learning_rate_init=0.01)

In [10]:
mlp.fit(X_train,y_train)

MLPRegressor(activation='tanh', alpha=0.0001, batch_size=100, beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(25, 25, 25, 25), learning_rate='constant',
             learning_rate_init=0.01, max_iter=200, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=1, shuffle=True, solver='adam', tol=0.0001,
             validation_fraction=0.1, verbose=False, warm_start=False)

In [11]:
predictions =mlp.predict(X_test)

In [12]:
predictions.mean()

11.738221423929136

In [13]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [28]:
regr = RandomForestRegressor(max_depth=2, random_state=0, cv=3, n_ter=100)

TypeError: __init__() got an unexpected keyword argument 'cv'

In [15]:
regr.fit(X_train,y_train)

C:\Users\rcron\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [16]:
predictionsRF =regr.predict(X_test)

In [17]:
predictionsRF.mean()

11.319469428784506

In [18]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, predictionsRF))

In [19]:
rms

4.7534435153029335

In [20]:
rmsMLP = sqrt(mean_squared_error(y_test, predictions))

In [21]:
rmsMLP

9.527683911778594

In [22]:
from sklearn.linear_model import LinearRegression
lreg = LinearRegression()

In [23]:
lreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
predictionsLR =lreg.predict(X_test)

In [25]:
predictionsLR.mean()

11.324033824369591

In [26]:
rmsLR = sqrt(mean_squared_error(y_test, predictionsLR))

In [27]:
rmsLR

4.769468285296917